<div class="container">

  <mat-card>
    <div style="display: block">
      <canvas id="graphics" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
    <hr>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    <button class="download-pdf" mat-button mat-raised-button color="warn" (click)="onGeneratePDF()">
      Generate PDF
    </button>
  </mat-card>

</div>